name: CD

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
#    - name: Deploy to server
#      uses: appleboy/ssh-action@master
#      with:
#        username: root
#        host: 80.66.64.203
#        password: ${{ secrets.SSH_PASSWORD }}
#        script: 'cd /root/pokitoki/ && git stash && git pull -X theirs && chmod +x ./server_deploy.sh && ./server_deploy.sh'
    - name: Deploy to server USA
      uses: appleboy/ssh-action@master
      with:
        username: root
        host: 147.45.124.41
        password: ${{ secrets.SSH_USA_PASSWORD }}
        script: 'cd /root/pokitoki/ && git stash && git pull -X theirs && chmod +x ./server_deploy.sh && ./server_deploy.sh'